<h1>signup</h1>
<form action="/signup" method="post">
  <input type="email" name="email" placeholder="Your email" />
  <input type="password" name="password" placeholder="Your password" />
  <input
    type="password"
    name="password_confirm"
    placeholder="Confirm your password"
  />
  <input type="text" name="firstName" placeholder="Your first name" />
  <input type="text" name="surname" placeholder="Your last name" />
  <input type="date" name="dateOfBirth" />
  <button type="submit">Signup</button>
</form>